<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>545600235424-qnler5trnakqfp0j1a71m497nal02gt5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.545600235424-qnler5trnakqfp0j1a71m497nal02gt5</string>
	<key>API_KEY</key>
	<string>AIzaSyBiA5zoTwLh1XEL8N8owLdmyilWTf9mrE8</string>
	<key>GCM_SENDER_ID</key>
	<string>545600235424</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hackathon</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-ea821</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-ea821.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:545600235424:ios:295436a5f52d3a5f8f26c5</string>
</dict>
</plist>